name: 检查代码

on:
  push:
    paths:
      - 'pyproject.toml'
      - '**/*.py'
      - 'Taskfile.yml'
      - '.github/workflows/*.yml'
      - '.github/dependabot.yml'
  pull_request:
    paths:
      - 'pyproject.toml'
      - '**/*.py'
      - 'Taskfile.yml'
      - '.github/workflows/*.yml'
      - '.github/dependabot.yml'
  schedule:
    - cron: '37 23 * * 5'

permissions:
  contents: read

jobs:
  pytest:
    name: Run pytest
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
      - uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Python version
        run: uv run -m tools.set_python_version

      - name: Run Pytest
        run: task test

      - name: Upload to Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_PARALLEL: true
          COVERALLS_FLAG_NAME: "${{ matrix.os }}_${{ env.PYTHON_VERSION }}"
        run: |
          coveralls --service=github

  ruff:
    name: Ruff
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
      - uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Ruff
        run: task check -- --no-fix --output-format=github

  codeql:
    name: CodeQL
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      packages: read
      actions: read
    steps:
      - uses: actions/checkout@v4

      - name: Setup CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python

      - name: Run CodeQL
        uses: github/codeql-action/analyze@v3
        with:
          category: '/language:python'